# java
target/
.project
.classpath
.settings/
dependency-reduced-pom.xml
*.class
*.jar
agent/bin/
server/bin/
lib/bin/
rebel.xml

# swap
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
.netrwhist
*~

# make
.cache/
.local.mk

# packer
/packer/output
/packer/packer_cache

# generated docker files
.dockerfile.generated
