<?xml version='1.0' encoding='UTF-8'?>
<Configuration>
	<Appenders>
		<Console name='Console' target='SYSTEM_OUT'>
			<PatternLayout pattern='%-5level - %msg%n' />
		</Console>
		<Console name='ConsoleDebug' target='SYSTEM_OUT'>
			<PatternLayout pattern='%-5level - %-20logger{1} - %msg%n' />
		</Console>
		<File name="LogFile" fileName="/tmp/moustack-server.log">
			<PatternLayout pattern='%d{yyyy-MM-dd HH:mm:ss} %-5level - %-20logger{0} - %msg%n' />
		</File>
		<Async name="AsyncLogFile">
			<AppenderRef ref="LogFile" />
		</Async>
	</Appenders>

	<Loggers>
		<Logger name="com.adenops.moustack">
			<!-- A console appender-ref will be added at runtime, depending on the log level -->
		</Logger>

		<Root level="info">
			<AppenderRef ref='AsyncLogFile' />
		</Root>
	</Loggers>
</Configuration>